<!DOCTYPE html>
<html lang="en">




<title>Profile Page</title>

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
<link rel="stylesheet" href="/styles/grid.css" type="text/css" />
<!-- <link rel="stylesheet" href="/styles/viewArticle.css" type="text" />/css -->
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="styles/profile.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<header>
    <nav class="navbar-fixed-top">
      <ul>
        <li><a class="nav-a" href="/">Home</a></li>
      <div class="sign">
        <% if(!locals.user){ %>
          <li style="float:right"><a class="active2" class="login" href="/login"">Login/Register</a></li>
        <% } else { %>
          <li><a href="/my-articles">My Articles</a></li>
          <li><a href="/newArticles">Add Articles</a></li>
          <li style="float:right"><a href="/profile">Profile</a></li>
          <li style="float:right">
            <form method='POST' action='/logout' id='logout'>
            <input type="submit" class="active" value="Logout" class="btn btn-primary"></input>
            </form>
          </li>
  <!-- <a class="active" class="logout" href="#" method="POST" action='/logout'>Logout</a> -->
        <% } %>
      </div>
      </ul>
    </nav>
  </header>


<div class="container">
    <form id="contact" action="/profile" method="post">
        <div class="row login_box">
            <div class="col-md-12 col-xs-12" align="center">
              <div class="outter"><img src="<%=userInfo.profile_picture%>" class="image-circle" /></div>
              <h1>Hello <%= user %></h1>
              <h3>Email: <%= userInfo.email %></h3>
            </div>

      <fieldset>
        <input placeholder= '<%=userInfo.email %>' name="email" type="email" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder='<%=userInfo.password %>' name="password"type="password" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder='<%=userInfo.profile_picture%>' name="profile_picture" type="url" tabindex="3" required>
      </fieldset>

      <fieldset>
        <button type="submit" id="contact-submit">Update</button>
      </fieldset>
      </form>
    </form>
  </div>
